@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
    background-color: #353535;
    color: #FFF;
    margin: 0;
}
header{
    width: 100%;
    padding: 30px 0;
    background-color: #284B63;
    border-bottom: 2px dashed #fff;
}
#headerText{
    width: 400px;
    font-size: 30px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
nav{
    width: 100%;
    padding: 10px 0;
    background-color: #3C6E71;
    height: 30px;
    overflow: hidden;
    z-index: 100;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + main {
    padding-top: 50px;
}

main{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 20px; */
    /* font-family: 'Roboto Slab', serif; */
    /* border: 1px burlywood solid; */
}

footer{
    /* margin-top: 20px; */
    padding: 10px 10px;
    border-top: solid 2px #3C6E71;
    background-color: #353535;
    color: #3C6E71;
}

.headers{
    font-size: 20px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

#animation{
    background-color: white;
    /* height: 420px; */
    /* padding: 20px; */
    /* min-width: 1100px; */
}
 
#canvasForAnimation{
    background-color: white;
    float: left;
    width: 60%;

}

#formData{
    float: right;
    width: 40%;
    /* margin: auto; */
    background-color: #3C6E71;
    color: #000;
}

/* #tableFormData{
    width: 250px;
} */

#tableFormData button{
    border: 1px solid #AAA;
    border-radius: 4px;
}

.animationData{
    width: 60px;
    border: 1px solid #AAA;
}


#allThrows{
    margin: 30px 0;
    height: 1000px;
}

#chooseThrow{
    float: left;
    width: 10%;
    height: 100%;
    background-color: #284B63;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#chooseThrow ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#chooseThrow li{
    height: 50px;
    width: 100%;
    border-bottom: 1px black solid;
    cursor: pointer;
}

#chooseThrow li:hover{
    background-color: #3C6E71;
}

.rzut{
    float: right;
    width: 90%;
    height: 100%;
    background-color: #FFF;
    color: #000;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ThrowImg{
    width: 40%;
    display: block;
    margin: 0 auto;
}

#VectorElementsAll{
    background-color: #FFF;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    /* height: 450px; */
}

#vectorElementsImg{
    float: left;
    height: auto;
    width: 40%;
    margin: auto 0;
}

#vectorElements{
    float: right;
    width: 35%;
    color: #000;
}

video{
    width: 400px;
    display: block;
    margin: 0 auto;
}


/* @media (max-width: 1100px){
    #animation{
        background-color: red;
    }
} */


/*clear: both*/
/*
    #082D0F
    #9DC5BB
    #DEE5E5
    #5E807F
    #17B890;
*/

/* 
https://www.w3schools.com/cssref/css_units.asp

*/