@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
    background-color: #353535;
    color: #FFF;
    margin: 0;
    min-width: 480px;
}
header{
    width: 100%;
    padding: 30px 0;
    background-color: #284B63;
    border-bottom: 2px dashed #fff;
}
#headerText{
    width: 400px;
    font-size: 30px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
nav{
    width: 100%;
    padding: 10px 0;
    background-color: #3C6E71;
    height: 30px;
    overflow: hidden;
    z-index: 100;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + main {
    padding-top: 50px;
}

main{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    /* font-family: 'Roboto Slab', serif; */
}

footer{
    padding: 10px 10px;
    border-top: solid 2px #3C6E71;
    background-color: #353535;
    color: #3C6E71;
}

.headers{
    font-size: 20px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

/********************************************************************/

#intro{
    width: 97%;
    margin: 0 auto;
}

/********************************************************************/

#allThrows{
    margin: 30px 0;
    height: 950px;
}

#chooseThrow{
    float: left;
    width: 12%;
    min-width: 120px;
    height: 100%;
    background-color: #284B63;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#chooseThrow ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#chooseThrow ul li{
    height: 70px;
    width: 100%;
    border-bottom: 1px white solid;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    text-align: center;
    padding-top: 25px;
}

#chooseThrow ul li:hover{
    background-color: #3C6E71;
}

.throw{
    overflow: hidden;
    height: 100%;
    background-color: #FFF;
    color: #000;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.ThrowImg{
    width: 40%;
    display: block;
    margin: 0 auto;
    min-width: 350px;
}

.formulas{
    width: 90%;
    margin: 0 auto;
}

.leftFormulas{
    float: left;
    width: 50%;
}

.rightFormulas{
    overflow: hidden;
    width: 50%;
}

@media (max-width: 600px){
    #allThrows{
        height: 1080px;
    }
    .leftFormulas{
        float: none;
        width: 100%
    }
    .rightFormulas{
        width: 100%
    }
}

/********************************************************************/

video{
    width: 400px;
    display: block;
    margin: 0 auto;
}

/********************************************************************/

#VectorElementsAll{
    /* background-color: #FFF; */
    width: 60%;
    display: block;
    margin: 30px auto;
    height: 260px;
}

#vectorElementsImg{
    float: left;
    height: auto;
    width: 45%;
    min-width: 300px;
    margin: auto 0;
    border-radius: 10px;
}

#vectorElements{
    overflow: auto;
    text-align: center;
    vertical-align: auto;
    padding-top: 60px;
}

@media (max-width: 810px){
    #VectorElementsAll{
        height: 310px;
    }
    #vectorElementsImg{
        float: none;
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    #vectorElements{
        padding-top: 20px;
    }
}

/********************************************************************/

#animation{
    /* height: 500px; */
    /* max-height: 1000px; */
    margin: 20px auto;
    display: -webkit-flex;
    display: flex;
}

#canvas{
    background-color: white;
    width: 60%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#canvas canvas{
    width: 100%;
}

#formData{
    width: 36%;
    padding: 0 2%;
    background-color: #284B63;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#tableFormData{
    margin: 0 auto;
}

#tableFormData tr td{
    padding: 5px;
}

button{
    border: 1px solid #AAA;
    border-radius: 4px;
    padding: 5px 10px;
}
#showVectorButton{
    padding: 5px 0;
    width: 100px;
}

.animationData{
    width: 60px;
    border: 1px solid #AAA;
}

@media (max-width: 925px){
    #animation{
        /* padding-bottom: 10px; */
        display: block;
    }
    #formData{
        width: 95%;
        margin: 0 auto; 
        border-radius: 10px;
    }
    #formData div{
        padding-top: 10px;
    }
    #formData p:last-child{
        padding-bottom: 10px;
    }
    #canvas{
        display: block;
        width: 95%;
        margin: 0 auto;
        border-radius: 10px;
    }
}


/* @media (max-width: 1100px){
    #animation{
        background-color: red;
    }
} */


/*clear: both*/
/*
    #082D0F
    #9DC5BB
    #DEE5E5
    #5E807F
    #17B890;
*/

/* 
https://www.w3schools.com/cssref/css_units.asp

*/